body
{
        font-family: Tahoma, Geneva, sans-serif;
        color:#fff;
        background: url(village2.jpg);
        background-size: cover;
        background-attachment: fixed;
  background-position: center;
}
.signup
{
    background: rgba(44,62,80,0.8);
    align-content: center;
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 430 px;
    margin: 0 auto;
    margin-left: 580px;
}

form{
    width: 240px;
    text-align: center;
}
input{
    width:240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=button]
{
    border:none;
    width:190px;
    background: white;
    color: #000;
    font-size: 16 px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=button]:hover
{
    color:#fff;
    background-color: black;
}
input[type=checkbox]
{
    width:240px;
    text-align: center;
    background: transparent;
    border: none;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
h2
{
    color:white;
}

::placeholder{
    color: aliceblue;
    opacity: 0.8;
}

