<!DOCTYPE html>
<html>
<head>
	<title>Dookan.com</title>
	<meta charset="utf-8">
	<!-- for responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styling-3.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Shadows Into Light' rel='stylesheet'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
<style>
#nav-logo
{	
	padding: 10px 20px 0 25px;
	position: relative;
	width: 150px;
}
#nav-logo .nav-logo-link
{
	background: transparent url('static/img/logo.png') no-repeat top left ;
	background-size: 90px;
	width: 150px;
	height: 50px;
	display: block;
}

</style>
</head>
 <body>
    <div id="nav-logo" class="float-left">
		<a href="land-3.html" class="nav-logo-link"></a>	
	</div>
   <h2 style="text-align: center;"> PRIVACY POLICY</h2>
  <div style="padding: 20px;">
    <b>1.	What does doookan.com do?</b><br>
    Looking for secured shopping, here we come right on a click.
    We are known, trusted and nearby. Keeping local is vocal in mind, we provide products from near-by stores. Online shopping will no more be time consuming and hectic task, we provide you enhanced shopping cart to secured single page checkout avoids complexity and improves customer conversion rate. We provide simple navigation, guest checkout option to enable a fast and easy checkout process, implementing security badges like SSL certificates. 
    We provide you offers you would like to never miss, also coupons and vouchers. We help you compare prices from all the near-by store for the best deals.
    We support each and ever business and hence provide their location and directions to the shop, also their phone numbers and address. The best part is you can place order and collect it from the store and also return it if you are not satisfied with the product. Whole shop is at your click what else you need. 
    Luxury, offers, guarantee, best products, etc. all together. Also you don’t need to fear if you are paying online, we take full care of the transactions you make as we verify you using a phone call, also you sign-up using a verified email account or Facebook account which makes your connection with us and other customers total safe and tension free.
    We believe in quality and severing you the best so we take customer’s reviews for products as well as experience which will help us maintain our quality and serve you the best. 
    <br><br>
   <b> 2. How do customers get benefit buying your product online?</b><br>
    Following are the reasons why a customer shops online :
    It is a one click job. You can simply order stuff siting at home, it makes shopping easy and less time consuming.
    You get variety of offers, coupons, discounts, etc.
    You get easy access to return or exchange option. ( But it has some limited time to return it and also the reason should be valid enough. )
    You get to read details about the product with customer's reviews and experience with the products. Also the ratings help to choose between the similar products.
    You can easily compare the products.
    The app works according to your location, hence it tracks down all the stores which are near-by, so that you can also walk-in if you wish to as the directions and contact information is also provided.
    <br><br>
    <b>3. Do we disclose any information to outside?</b> <br>
    We respect your privacy and we promise not to use your any details outside. Your details are 100% safe with us.
    We also don’t force you to give reviews or rate the products, it is your say always .if you wish to share the information it is all your choice. 
    Online payments you make are totally secured with us. There is no chance of money fraud while you make online payments for the orders.
    No one can access you account. We keep all your details very secured.
    <br><br>
    <b>4.  Are we license?</b><br>
    doookan.com herby give you access to download the app with very basic terms and conditions like access to location, etc.  You can easily use the application on smarts phones as well as desktops.
    doookan.com is a licensed application. All the data we use or show is tested and legal.
    We make sure to provide 100% original products.
    <br><br>
    <b>5. Personal, Non-Commercial Use </b><br>
    When we show trust towards you we also expect same from you. 
    You may use the Services only for your own personal, non-commercial use.  You may use the application only for your personal and domestic use and do not misuse of the service. You cannot use the service for any commercial or competitive reasons.
    <br><br>
    <b>6. When encountering malfunctions </b><br>
    Yes, of course you can face some problems with the application as it is a man-made product based on machines and softwares. But you don’t have to panic, we will help with every small or big issue you face.
    You need not to get worried with the issues you face, we have a whole team sitting here to help you out with your issues. Also, it is not a lengthy or light consuming job you can just leave a message for call on our service number. All the contact information will be provided to you before even you buy your product.
    We provide you all the details of the shopkeepers and also of the application.
    We will make every reasonable attempt to resolve any issues you may have with the doookan.com Services. 
    <br><br>
    <b>7. Usage While Driving </b><br>
    Usage of the application while driving can be harmful for you as well as the other people on the road. It is an application where you sit and decide what you want to order as it requires your attention.
    Usage of the Service involves typing on or looking at the device which is not possible while you drive, also using devices like smart phones is illegal while driving.
    <br><br>
    <b>8. Not for Emergency Use </b><br>
    Yes, the application cannot be used for any emergency purpose. As when you order products we need some time to place and process the order. As many different people are involved in the process like the shopkeepers, delivery people , etc.
    <br><br>
    <b>9. Voluntary Submissions to doookan.com </b><br>
    If you are using doookan.com Services on a platform with the ability to select a "Send Feedback" (or similar) option, the data you submit will be our property. 
    It is your decision to share any review or experience with us.
    We may use such submission in any way and for any purpose. However, we will not use your name or any other personal information without obtaining your express permission in advance. 
    <br><br>
    <b>10. Third Party applications and content </b><br>
    In order to deliver the Services to you, doookan.com involve a number of third-party applications which were not developed by doookan.com, i.e. browser, email and SMS programs, dialer, calendar, and other applications, etc.
    We cannot take responsibility for any functionality, content or other attribute of those applications or the content they may request from or deliver to you. Any content find objectionable or otherwise inappropriate, Such content is not within our control. 
    <br><br>
    <b>11. Fees, Costs, and Other Expenses </b><br>
    We charge you with zero fees while downloading the application. You only pay for the products you order.
    Sometimes you have to pay delivery fees if your order is under the free delivery service.
    You pay for services like internet, outgoing calls and messages, etc. It is your voluntary decision to make.
  </div>

 </body>
</html>