<!DOCTYPE html> 
<html> 
<head>
	<title>Youtube Video Playlist</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<style>
	
	h1, p{
		color: #1a152c;
		font-family: Roboto;
	}
</style>
</head>
<body> 
	<div style="text-align: center;">
 <h1>Welcome customer!</h1>

 <p>Here you can see the videos of the shops that you just bought items from!</p>

 <br><br><br>
 

<iframe height="240" width="400"
src="https://www.youtube.com/embed/il_t1WVLNxk/ 
		AS_dAPN1Dlk?playlist=AfxHGNRtFac&loop=0">
</iframe> 

<iframe width="400" height="240" src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>

<iframe height="240" width="400"
src="https://www.youtube.com/embed/il_t1WVLNxk/ 
		AS_dAPN1Dlk?playlist=AfxHGNRtFac&loop=0">
</iframe> 

<br><br><br>
<iframe height="240" width="400"
src="https://www.youtube.com/embed/il_t1WVLNxk/ 
		AS_dAPN1Dlk?playlist=AfxHGNRtFac&loop=0">
</iframe> 

<iframe height="240" width="400"
src="https://www.youtube.com/embed/il_t1WVLNxk/ 
		AS_dAPN1Dlk?playlist=AfxHGNRtFac&loop=0">
</iframe> 

<iframe height="240" width="400"
src="https://www.youtube.com/embed/il_t1WVLNxk/ 
		AS_dAPN1Dlk?playlist=AfxHGNRtFac&loop=0">
</iframe> 

<br><br><br>
<iframe height="240" width="400"
src="https://www.youtube.com/embed/il_t1WVLNxk/ 
		AS_dAPN1Dlk?playlist=AfxHGNRtFac&loop=0">
</iframe> 
<iframe height="240" width="400"
src="https://www.youtube.com/embed/il_t1WVLNxk/ 
		AS_dAPN1Dlk?playlist=AfxHGNRtFac&loop=0">
</iframe> 
<iframe height="240" width="400"
src="https://www.youtube.com/embed/il_t1WVLNxk/ 
		AS_dAPN1Dlk?playlist=AfxHGNRtFac&loop=0">
</iframe> 
    </div>
</body> 
</html> 
